<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>

<style>
    .infoTable, .infoBox{
        display: none;
    }
    main input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<body>
<main>
    <div>
        Page : <input type="number" oninput="Limit(this,10,1)" th:name="page" placeholder="빈칸 -> 1페이지, 최대 10">
    </div>
    <div>
         perPage :  <input type="number" oninput="Limit(this,20,1)" th:name="perPage" placeholder="빈칸 -> 10개">
    </div>
    <div>
        <select>
            <option selected th:name="districtName">
                시/군/구
            </option>
            <option>달서구</option>
            <option>수성구</option>
            <option>중구</option>
            <option>남구</option>
        </select>
    </div>
    <div>
        Email : <input type="email" th:name="email" placeholder="정보를 보낼 email">
    </div>
    <button onclick="get_info()">보내기</button>
</main>

<th:block>
    <div>
        <div class="infoBox">
            <h1>조회된 데이터가 없습니다</h1>
        </div>
        <table class="infoTable">
            <colgroup>
                <col style="width: 50%">
                <col>
                <col style="width: 10%">
            </colgroup>
            <thead>
                    <tr>
                        <td>가맹점명</td>
                        <td>시/군/구</td>
                        <td>전화번호</td>
                    </tr>
            </thead>
            <tbody id="info">
            </tbody>
        </table>

    </div>
</th:block>


</body>
</html>

<script>
    const [page, perPage, email] = document.querySelectorAll("input");
    const districtName = document.querySelector("select");
    const infoTable = document.querySelector(".infoTable");

    function Limit(input, max, min){
        if(input.value.match(/[^0-9]/g) || input.value.trim() === ""){
            alert("숫자를 정확히 입력해주세요!");
        }

        inputNumberOnly(input);

        if(input.value > max){
            input.value = max;
        }
        else if(input.value < min){
            input.value = min;
        }
    }

    function inputNumberOnly(inputTag) {
        inputTag.value = inputTag.value.replace(/[^0-9]/g, '');
    }

    function get_info(){
        fetch("/getinfo?perPage="+perPage.value+"&page="+page.value+"&email="+email.value, {
            method : "POST",
            headers: {
                'Content-Type': 'application/json'
            },
        }).then((response) => {
                // console.log(response)
                return response.json();
            }).then((result) => {
            updateDB(result.data,districtName.value);
                })
            .catch(e => console.log("error : ",e))
    }

    async function updateDB(shopList, districtName) {
        const infoBox = document.querySelector(".infoBox");
        const tbody = document.getElementById("info");
        tbody.innerHTML = "";
        let shList = [];

        for (const shop of shopList) {
            if (districtName.trim() !== "시/군/구" ){
                if(shop.시군구명 !== districtName) {
                    continue;
                }
            }
            const shopDTO = {
                shopName: shop.가맹점명,
                districtName: shop.시군구명,
                viewCount: shop.전화번호,
            }
            // console.log("updateDB : "+ shopDTO);
            const updatedShopDTO = await upDateShopData(shopDTO);
            shList.push(shopDTO);

            // console.log("updatedShop : "+ updatedShopDTO);
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                    <td>${updatedShopDTO.shopName}</td>
                    <td>${updatedShopDTO.districtName}</td>
                    <td>${updatedShopDTO.viewCount}</td>`;
            tbody.appendChild(newRow);
        }
        // console.log(tbody.innerHTML);
        if( tbody.innerHTML.trim() === "") {
            infoBox.style.display = "block";
            infoTable.style.display = "none";
        }
        else{
            infoTable.style.display = "block";
            infoBox.style.display = "none";
        }

        if(email.value.trim() !== "") {
            await fetch("/send?email=" + email.value, {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify(shList),
            }).then(req => {
                console.log(req)
            })
        }
    }

    async function upDateShopData(shopDTO) {
        // console.log(upDateShopData +": " +shopDTO);
        try {
            const response = await fetch("/update", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(shopDTO),
            });

            if (response.ok) {
                const updatedShopDTO = await response.json();
                // console.log(updatedShopDTO);
                return updatedShopDTO;
            } else {
                console.error("가게 데이터 업데이트에 실패했습니다. 상태:", response.status);
                return null;
            }
        } catch (error) {
            console.error("오류 발생:", error);
            return null;
        }
    }



</script>