<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<style>
    .infoTable{
        display: none;
    }
</style>
<body>
<main>
    <div>
        가게 몇개 :  <input type="number" th:name="perPage">
    </div>
    <div>
        시군구 : <input type="text" th:name="districtName" placeholder="빈칸이면 전부">
    </div>
    <button onclick="get_info()">보내기</button>
</main>

<th:block>
    <div>
        <table class="infoTable">
            <colgroup>
                <col style="width: 50%">
                <col>
                <col style="width: 10%">
            </colgroup>
            <thead>
                    <tr>
                        <td>이름</td>
                        <td>시군구</td>
                        <td>view</td>
                    </tr>
            </thead>
            <tbody id="info">

            </tbody>
        </table>

    </div>
</th:block>


</body>
</html>

<script>
    const [perPage, districtName] = document.querySelectorAll("input");
    const infoTable = document.querySelector(".infoTable");

    function get_info(){
        fetch("/getinfo?perPage="+perPage.value, {
            method : "POST",
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then((response) => {
                console.log(response)
                return response.json();
            }).then((result) => {

            updateDB(result.data,districtName.value);

        })
            .catch(e => console.log("error : ",e))
    }

    async function updateDB(shopList, districtName) {
        const tbody = document.getElementById("info");
        tbody.innerHTML = "";

        for (const shop of shopList) {
            if (shop.시군구명 !== districtName) continue;

            const shopDTO = {
                shopName: shop.가맹점명,
                districtName: shop.시군구명,
                viewCount: 1,
            }

            const updatedShopDTO = await upDateShopData(shopDTO);

            console.log("updatedShop : "+ updatedShopDTO);
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                        <td>${updatedShopDTO.shopName}</td>
                        <td>${updatedShopDTO.districtName}</td>
                        <td>${updatedShopDTO.viewCount}</td>`;
            tbody.appendChild(newRow);

        }
        infoTable.style.display = "block";
    }

    async function upDateShopData(shopDTO) {
        try {
            const response = await fetch("/update", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(shopDTO),
            });

            if (response.ok) {
                const updatedShopDTO = await response.json();
                console.log(updatedShopDTO);
                return updatedShopDTO;
            } else {
                console.error("가게 데이터 업데이트에 실패했습니다. 상태:", response.status);
                return null;
            }
        } catch (error) {
            console.error("오류 발생:", error);
            return null;
        }
    }



</script>